<app-header/>
<main>
  <div class="book-action">
    <mat-form-field class="search-input">
      <mat-label>Type author name or book name</mat-label>
      <input matNativeControl matInput type="text" [(ngModel)]="bookName">
      @if (bookName) {
      <button matSuffix mat-icon-button aria-label="clear" (click)="bookName=''">
        <mat-icon fontIcon="clear"></mat-icon>
      </button>
      }
    </mat-form-field>

    <button mat-button class="new-book" (click)="openDialog()">Add new book</button>
  </div>

  @for (book of books() | search: bookName; track $index) {
    <app-book-item [book]="book"></app-book-item>
  }
</main>
