<div class="book-item">
  <div class="book-item__image">
    @defer (on viewport) {
      <img
        [src]="book().imageUrl"
        [alt]="book().author"
        matTooltip="click for shows more information"
        matTooltipClass="image-tooltip">
    } @placeholder {
      <span>{{ book().title }}</span>
    }
  </div>
  <div class="book-item__annotation">
    <h2> Author: {{ book().author }}</h2>
    <h2>Name: {{ book().title }}</h2>
    <p>Publication: {{ book().yearOfPublication }}</p>
  </div>
</div>
